.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--cl-primary-850);
  display: flex;
  justify-content: center;
  align-items: center;

  :global {
    .ant-form-item-explain {
      display: none;
    }
  }
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 20px 0;
  padding-top: 40px;
  background-color: var(--cl-grey-100);

  :global {
    .ant-form-item-label label {
      color: var(--cl-grey-15);
    }

    .ant-form-item-required {
      &::before,
      &::after {
        content: '' !important;
      }
    }

    .ant-input-password {
      width: 400px;
    }
  }
}

.content {
  text-align: center;
  width: 71%;
  background-color: var(--cl-grey-100);
}

.titleContent {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: var(--cl-grey-15);
    font-size: var(--font-size-base);
  }

  svg {
    margin-right: 16px;
  }
}

.passwordFormItem {
  margin-bottom: 0;
}

.descriptionTextGroup {
  margin-top: 5px;
  height: 15px;
  text-align: start;
  visibility: hidden;

  div {
    display: flex;
    align-items: center;

    svg {
      width: 14px;
      height: 14px;
      margin-right: 8px;
    }
  }
}

.visibleText {
  visibility: visible;
}

.errorText {
  color: var(--cl-red-6);
  font-size: var(--font-size-mini);
}

.successText {
  color: var(--cl-green-6);
  font-size: var(--font-size-mini);
}

.newPasswordFormItem {
  margin: 20px 0;
  margin-bottom: 40px;
}

.title {
  color: var(--cl-grey-35);
  font-size: 38px;
  margin-top: 44px;
  margin-bottom: 28px;
}

.submitFormItem {
  margin-bottom: 20px;
}

.submitButton {
  width: 120px;
  height: 32px;
}
