.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--cl-primary-850);
  display: flex;
  justify-content: center;
  align-items: center;

  :global {
    .ant-form-item-explain {
      display: none;
    }
  }
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  padding: 20px 0;
  padding-top: 40px;
  background-color: var(--cl-grey-100);

  :global {
    .ant-form-item-label label {
      color: var(--cl-grey-15);
    }

    .ant-form-item-required {
      &::before,
      &::after {
        content: '' !important;
      }
    }

    .ant-input {
      width: 400px;
    }
  }
}

.content,
.sentEmailContent {
  text-align: center;
  width: 66.6%;
  background-color: var(--cl-grey-100);
}

.sentEmailContent {
  width: 80%;
}

.sentEmailTitle {
  color: var(--cl-grey-35);
  font-size: 38px;
  margin-top: 54px;
  margin-bottom: 48px;
}

.acceptDescription {
  margin-top: 20px;
  margin-bottom: 24px;

  p {
    font-size: var(--font-size-base);
    color: var(--cl-grey-15);
  }
}

.ignoreDescription {
  margin-bottom: 16px;

  p {
    font-size: var(--font-size-base);
    color: var(--cl-grey-15);
  }

  a {
    font-size: var(--font-size-base);
    color: var(--cl-blue-6);
    margin-right: 24px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.titleContent {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: var(--cl-grey-15);
    font-size: var(--font-size-base);
  }

  svg {
    margin-right: 16px;
  }
}

.emailFormItem {
  margin-top: 35px;
  margin-bottom: 24px;
}

.submitFormItem {
  margin-bottom: 52px;
}

.title {
  color: var(--cl-grey-35);
  font-size: 38px;
  margin-top: 44px;
  margin-bottom: 20px;
}

.description {
  font-size: var(--font-size-base);
  color: var(--cl-grey-15);
}

.submitButton {
  width: 172px;
  height: 32px;
}

.footerDescription {
  margin-bottom: 16px;

  p {
    font-size: var(--font-size-base);
    color: var(--cl-grey-15);
  }

  a {
    font-size: var(--font-size-base);
    color: var(--cl-blue-6);

    &:hover {
      text-decoration: underline;
    }
  }
}
